@model ReservationModel
@using Microsoft.AspNetCore.Identity

<h1>Rezerwacja pokoju</h1>

@{
    string today = DateTime.Now.Date.ToString("yyyy-MM-dd");
    string tomorow = DateTime.Now.Date.AddDays(1).ToString("yyyy-MM-dd");
}

<form method="POST" asp-action="PlaceReservation">
    
    <div class="form-group">
        <input asp-for="CustomerName" class="form-control" value="@User.Identity.Name" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Numer telefonu</label>
        <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoomNumber">Numer pokoju</label>
        <input asp-for="RoomNumber" class="form-control" readonly="true" value="@Model.RoomNumber" />
    </div>

    <div class="form-group">
        <label asp-for="ReservationStart">Początek pobytu</label>
        <input asp-for="ReservationStart" id="start" class="form-control" type="date" min="@today" value="@today" />
        <span asp-validation-for="ReservationStart" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReservationEnd">Koniec pobytu</label>
        <input asp-for="ReservationEnd" id="end" class="form-control" type="date" min="" value="@tomorow" />
        <span asp-validation-for="ReservationEnd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Złóż rezerwację" />
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}