@model IEnumerable<HotelManagementApp.Entities.ReservationsEntity>

@{
    ViewData["Title"] = "Lista rezerwacji";
    Layout = "_AdminLayout";
}

<h2>Lista rezerwacji</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.RoomId)</th>
            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationStart)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationEnd)</th>
            <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>Anulowanie rezerwacji</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>               
                <td>@item.Id</td>
                <td>@item.RoomId</td>
                <td>@item.CustomerName</td>
                <td>@item.ReservationStart.ToString("d")</td>
                <td>@item.ReservationEnd.ToString("d")</td>
                <td>@item.CustomerId</td>
                <td>@item.PhoneNumber</td>
                <td><button class="cancel-reservation" value="@item.Id">Anuluj</button></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.cancel-reservation').forEach(element => {
                element.addEventListener('click', sendCancelation, false)
            })
        })
        
        var fetchedData

        const sendCancelation = (e) => {
            e.preventDefault();      
            fetchedData = e.target.attributes.value.nodeValue
            if(confirm('Na pewno anulować rezerwację?')){
                sendFetchedData(fetchedData)
            }            
        }

        function sendFetchedData(gatheredData){
            $.ajax({
                type: 'POST',
                url: "@Url.Action("CancellingReservation")",
                data: {cancelationData: gatheredData},
                dataType: "text",
                success: function () {
                    alert("OK");
                },
                error: function () {
                    alert("ERROR");
                }
            });
        }
    </script>
}