@model IEnumerable<HotelManagementApp.Entities.ReservationsEntity>

@{
    ViewData["Title"] = "Lista rezerwacji";
    Layout = "_AdminLayout";
}

<h2>Lista rezerwacji</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.RoomId)</th>
            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationStart)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationEnd)</th>
            <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>               
                <td>@item.Id</td>
                <td>@item.RoomId</td>
                <td>@item.CustomerName</td>
                <td>@item.ReservationStart.ToString("d")</td>
                <td>@item.ReservationEnd.ToString("d")</td>
                <td>@item.CustomerId</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>